.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  width: 210px;
  height: 50px;
  border-radius: 5px;
  background-color: #261700;
  color: #FFD79D;
  font-weight: 700;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Raleway';
}
button:hover > .button {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transform: rotate(33deg);
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.button {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  margin-right: 10px;
  fill: #FFD79D;
}

h1 {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h1 {
    display: none;
  }

  button {
    font-size: 14px;
    width: 140px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: -10px;
  }

  .button {
    width: 15px;
    height: 15px;
  }

  .card-grid {
    margin-top: 25px;
    margin: 25px 10px 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .App {
    margin: 0 auto;
  }

  p {
    font-size: 18px;
    position: absolute;
    top: 0;
    margin: 10px 10px;
  }
}
